.traffic-light {
  gap: 5px;
  & .control {
    /* .traffic-light .control */
    display: grid;
    gap: 5px;
    & button {
      /* .traffic-ligth .control button */
      width: 50px;
      cursor: pointer;
      padding: 3px;
      border-radius: 5px;
      background-color: white;
      &:nth-child(1) {
        border: 2px solid red;
        color: red;
      }
      &:nth-child(2) {
        border: 2px solid rgb(104, 104, 0);
        color: rgb(104, 104, 0);
      }
      &:nth-child(3) {
        border: 2px solid green;
        color: green;
      }
    }
  }
  & .container {
    display: block;
    height: 150px;
    width: 150px;
    position: relative;
    & .light {
      height: 100%;
      cursor: pointer;
    }
    & .red {
      & .yellow {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        z-index: 2;
        transform: translate(-50%, -50%);
        & .green {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 50px;
          height: 50px;
          z-index: 3;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

section .pwd-input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  &:focus-within {
    outline: 1px solid black;
    box-shadow: 0 0 5px black;
  }
  & input[type="password"],
  & input[type="text"] {
    border: none;
    outline: none;
    &::-ms-reveal,
    &::-ms-clear {
      display: none;
    }
  }
  & img {
    cursor: pointer;
    user-select: none;
  }
}
